{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Note as Card</title>
</head>
<body>
    <header>
        <nav>
            <ul style="list-style: none; display: flex;">
                <li><a href="/lab-4/add-note">Add Note</a></li>
                <li><a href="/lab-4">Note as Table</a></li>
                <li><a href="/lab-4/note-list">Note as Card</a></li>
            </ul>
        </nav>
    </header>
    <div id="grid">
    {% for obj in note %}
    <div class="card mt-3" style="width: 18rem;">
        <div class="card-header">
            <b>To: </b>{{ obj.to }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>From: </b>{{ obj.From }}</li>
          <li class="list-group-item"><b>Title: </b>{{ obj.title }}</li>
          <li class="list-group-item"><b>Message: </b>{{ obj.message }}</li>
        </ul>
      </div>
      {% endfor %}
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</html>