<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <style>
        fieldset {
            width: 300px;
        }

        p {
            display: block;
            width: 280px;
        }

        input, button {
            float: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <form method="POST">
          <fieldset>
            <legend>Form</legend>
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button type="submit">Submit</button>
            </p>
          </fieldset>
        </form>
    </div>
</body>
</html>