<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Table</title>
    <style>
        table,
        th,
        td {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
        {% for obj in note %}
        <tr>
            <td>{{ obj.to }}</td>
            <td>{{ obj.From }}</td>
            <td>{{ obj.title }}</td>
            <td>{{ obj.message }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>