#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 2rem;
    row-gap: 1rem;
    margin: 0 2.5rem 1rem;
}   

.container {
    margin-left: 2.5rem;
}

ul {
    margin: 0;
}

li {
    padding: 1rem;
}

li a {
    text-decoration: none;
}

p {
    display: block;
    width: 280px;
}

input, button {
    float: right;
}